.AcordionButon {
    border-radius: 1rem;
    transition: border-radius 0.2s ease;
}

.ButonOpen {
    border-radius: 1rem 1rem 0rem 0rem;
    transition: border-radius 0.2s ease;
}

.accordion-content {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 0rem 0rem 1rem 1rem;
    padding: 1rem; /* Ajusta el padding según sea necesario */
    max-height: none; /* Eliminar limitación de altura */
    overflow-x: auto; /* Permitir desplazamiento horizontal */
    overflow-y: hidden; /* Ocultar el desplazamiento vertical */
    white-space: nowrap; /* Evitar que el contenido se ajuste a múltiples líneas */
}
