.table-container {
  padding: 1rem;
  overflow-x: auto;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
}

.styled-table th, .styled-table td {
  padding: 0.75rem;
  border: 2px solid #4b6c97;
  text-align: left;
  background-color: #c8d1db;
}

.styled-table th {
  background-color: #31abdb;
  position: sticky;
  top: 0;
  z-index: 10;
}

body, html {
  overflow-y: scroll;
  height: 100%;
  margin: 0;
}
